In [222]:
import pandas as pd
import numpy as np
import tensorflow as tf
from IPython.display import clear_output

In [223]:
data = pd.read_csv("./Data/weatherAUS.csv")
data = data.dropna(subset=['RainTomorrow'])
data.RainTomorrow.replace(('Yes', 'No'), (0, 1), inplace=True)

In [224]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,0.775819
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,0.417043
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,1.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,1.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,1.000000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,1.000000

In [225]:
data.RainTomorrow.mean()

0.7758187815152645

In [226]:
data.pop('Date')
data.head(10)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,1
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,1
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,1
5,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,1
6,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,W,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,1
7,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,W,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,1
8,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,NW,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,0
9,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,SSE,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,1

In [227]:
for k in data:
    if data[k].dtypes == np.float64:
        data[k] -= np.mean(data[k])
        data[k] /= np.std(data[k])
data.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,0.189528,-0.045912,-0.206727,NaN,NaN,W,0.295517,W,WNW,...,0.113179,-1.417590,-1.400863,-1.159388,1.234088,NaN,-0.013478,0.016254,No,1
1,Albury,-0.747494,0.263181,-0.277606,NaN,NaN,WNW,0.295517,NNW,WSW,...,-1.304053,-1.273343,-0.992725,-1.059908,NaN,NaN,0.032727,0.376611,No,1
2,Albury,0.111443,0.347479,-0.277606,NaN,NaN,WSW,0.442698,W,WSW,...,-1.618994,-1.032932,-1.414937,-0.932007,NaN,-0.920073,0.617989,0.218054,No,1
3,Albury,-0.466387,0.670622,-0.277606,NaN,NaN,NE,-1.176289,SE,E,...,-1.251563,-1.706083,-0.007566,-0.349343,NaN,NaN,0.171342,0.693725,No,1
4,Albury,0.829827,1.274759,-0.159474,NaN,NaN,W,0.074746,ENE,NW,...,0.690569,-0.888685,-0.964578,-1.315712,0.887707,1.285309,0.125137,1.154982,No,1

In [228]:
for k in data:
    if data[k].isnull().values.any():
        if data[k].dtypes == np.float64:
            data[k].fillna(value=data[k].mean(), inplace=True)
        else:
            data[k].fillna(value=data[k].mode().iloc[0], inplace=True)

In [229]:
shuffle_data = data.sample(frac=1)
train_size = int(0.7 * len(data))
train_set = shuffle_data[:train_size]
test_set = shuffle_data[train_size:]
train_y = train_set.pop("RainTomorrow")
test_y = test_set.pop("RainTomorrow")

In [230]:
feature_columns = []
for k in train_set:
    if train_set[k].dtypes != np.float64:
        vocab = train_set[k].unique()
        feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(k, vocab))

    else:
        feature_columns.append(tf.feature_column.numeric_column(k, dtype=tf.float32))

In [231]:
def make_input_fun(df, labels, epochs, shuffle=True, batch_size=32):
    def input_fun():
        ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))

        if shuffle:
            ds = ds.shuffle(1000)
        
        ds = ds.batch(batch_size).repeat(epochs)
        return ds

    
    return input_fun

In [232]:
train_input_fun = make_input_fun(train_set, train_y, 2)
test_input_fun = make_input_fun(test_set, test_y, 1, shuffle=False)
lin_est = tf.estimator.LinearClassifier(feature_columns=feature_columns)
lin_est.train(train_input_fun)
clear_output()

In [233]:
res = lin_est.evaluate(test_input_fun)
clear_output()

In [234]:
print(res)

{'accuracy': 0.84715647, 'accuracy_baseline': 0.774673, 'auc': 0.8700977, 'auc_precision_recall': 0.9540819, 'average_loss': 0.35398138, 'label/mean': 0.774673, 'loss': 0.35373607, 'precision': 0.8725143, 'prediction/mean': 0.76718366, 'recall': 0.9400533, 'global_step': 6222}

In [235]:
res = list(lin_est.predict(test_input_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\aaron\AppData\Local\Temp\tmpf6ts08rc\model.ckpt-6222
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [236]:
train_input_fun = make_input_fun(train_set, train_y, 1)
test_input_fun = make_input_fun(test_set, test_y, 1, shuffle=False)
clear_output()

In [237]:
from tensorflow import keras

In [238]:
for k in train_set:
    if train_set[k].dtypes != np.float64:
        train_set[k] = pd.Categorical(train_set[k])
        train_set[k] = train_set[k].cat.codes
clear_output()

In [239]:
for k in test_set:
    if test_set[k].dtypes != np.float64:
        test_set[k] = pd.Categorical(test_set[k])
        test_set[k] = test_set[k].cat.codes
clear_output()

In [240]:
NNmodel = keras.Sequential([keras.layers.Dense(21, input_dim=len(train_set.columns), activation='relu'),
                            keras.layers.Dense(10, activation='relu', use_bias=True),
                            keras.layers.Dense(1, activation='sigmoid')])
NNmodel.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics='accuracy')

In [241]:
NNmodel.summary()

Model: "sequential_21"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_55 (Dense)             (None, 21)                462
_________________________________________________________________
dense_56 (Dense)             (None, 10)                220
_________________________________________________________________
dense_57 (Dense)             (None, 1)                 11
=================================================================
Total params: 693
Trainable params: 693
Non-trainable params: 0
_________________________________________________________________

In [242]:
NNmodel.fit(train_set, train_y, epochs=10)
clear_output()

In [243]:
test_loss, test_acc = NNmodel.evaluate(test_set,  test_y, verbose = 1)

print('test acc: ', test_acc, ' loss:', test_loss)

1334/1334 [==============================] - 3s 2ms/step - loss: 0.3521 - accuracy: 0.8488
test acc:  0.8487739562988281  loss: 0.35205763578414917